.main{
    display: grid;
    grid-template-columns: 48px auto;
    height: 100%
}
.section {
    display:  grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    overflow: hidden;
}

input[type = "date"]{
    background: #333333;
    color-scheme: dark;
    color: #777777;
}
